.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
    max-width: 600px;
    margin: 0 auto 1.5rem auto;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: center;
    align-items: center;

    h1 {
        transform: translateX(40px);
    }
}

.title {
  font-size: 2.5rem;
  color: #333;
}

.formContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.formTitle {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
}

.sectionTitle {
  font-size: 1.2rem;
  color: #333;
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: left;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #555;
}

.input {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input:focus {
  outline: none;
  border-color: #086de3;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

.submitButton {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #086de3;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #086de3;
}
