.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    color: #333;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: center;
    align-items: center;
    margin: 0 auto 1.5rem auto;

    h1 {
        transform: translateX(-20px);
    }
}

.icon {
    width: 1.5rem;
    height: auto;
}
